<div id="pagina_nao_encontrada">
    <h1><strong>Página não encontrada!</strong></h1>
    <img class="img-fluid" width="60%" src="404.png" alt="">   
    <h5>Sentimos muito, mas talvez a página que você procura tenha sido deletada</h5>
    <form action="/app">
        <button class="btn btn-primary">Voltar para página inicial</button>
    </form>
</div>

