#container-progress
{
    display: flex;
    margin: auto;
    justify-content: center;
}
.green
{
    width: 15px;
    height: 15px;
    margin: 2% 1%;
    background-color: green;
    color: green;
    border-radius: 50%;
}

.gray
{
    width: 15px;
    height: 15px;
    margin: 2% 1%;
    background-color: gray;
    color: gray;
    border-radius: 50%;
}