<div class="userPartials">
    <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>{{this.task}}</td>
            <td>{{this.status}}</td> 
            <td> 
                <a id="edit-link" class="text-black" href="javascript:delete()">
                    <div class="btn btn-warning">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </a>
                
                <a id="exclude-link" class="text-light" href="/">
                    <div class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </a>
            </td>  
    </tr>    
</div>
