<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id = "logo-menu" viewBox="0 0 448 512">
    <title>logo-menu</title>
    <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
    </symbol>
</svg>


<header class="p-3 mb-4 border-bottom bg-primary">
  <div class="d-flex flex-wrap justify-content-evenly ">
      <a href="/app" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Logo"><use xlink:href="#logo-menu"/></svg>
            <span class="fs-4 text-white">YouTodo</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="btn btn-light">Sair</a></li>
      </ul>
  </div>      
</header>

<main>
    <div class="container">
        <h1 class="pb-2 border-bottom">Para fazer...</h1>

        
            <form action="/" method="post">
                <div class="d-inline-flex justify-content-center flex-row p-2 mb-3 w-100">
                    <input type="text" class="form-control" name="tarefa" id="tarefa" placeholder="Adicionar nova tarefa...">
                    <button type="submit" class="btn btn-success mx-2" >Enviar</button>
                </div>
                
            </form>

    </div>
    
    
    
    
</main>





  
