{{{body}}}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id = "logo-menu" viewBox="0 0 448 512">
    <title>logo-menu</title>
    <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
    </symbol>

    <symbol id="trash" viewBox="0 0 448 512">
        <title>trash</title>
        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
    </symbol>

</svg>


<header class="p-3 mb-4 border-bottom bg-primary">
  <div class="d-flex flex-wrap justify-content-between justify-content-xxl-evenly">
      <a href="/app" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Logo"><use xlink:href="#logo-menu"/></svg>
            <span class="fs-4 text-white">YouTodo</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="btn btn-light">Sair</a></li>
      </ul>
  </div>      
</header>

<main>
    <div class="container w-100">
        <h1 class="pb-2 border-bottom">Para fazer...</h1>

        
            <form action="/app" method="post">
                <div class="d-inline-flex justify-content-center flex-row p-2 mb-3 w-100">
                    <input type="text" class="form-control" name="task" id="task" placeholder="Digite sua tarefa aqui..." required>
                    <input type="hidden" name="status" value="Em andamento">
                    <button type="submit" class="btn btn-success mx-2" >Adicionar</button>
                </div>
            </form>

    </div>
    
    <div class="container" id="all-done">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="img-fluid" id="all-done-img" src="all_done.png" alt=""> 
            <h5>Sem tarefas, para começar adicione uma nova tarefa</h5>
        </div>
        
    </div>
  

</main>



  
